footer {
  width: 100%;
  background-color: #fffce1;
  padding: 3.5rem clamp(3rem, 6vw, 14rem);
}
footer .footer-wrapper {
  max-width: 90rem;
  margin: 0 auto;
}
footer .footer-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
footer .footer-subscribe {
  max-width: clamp(20rem, 33vw, 33rem);
}
footer .footer-subscribe > h2 {
  font-size: clamp(1.5rem, 2.3vw, 2.25rem);
}
footer .input-box {
  display: flex;
  max-width: 100%;
  padding-block: 1rem;
  border-bottom: 1px solid black;
  margin-top: 1rem;
}
footer .input-box > input {
  flex-grow: 1;
}
footer .footer-nav {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(3rem, 4vw, 7rem);
}
footer .footer-nav > div > h3 {
  font-size: 1rem;
}
footer .footer-nav > div > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
footer .footer-nav > div > ul li {
  font-size: 1.125rem;
  font-weight: 700;
  transition: opacity 200ms ease;
}
footer .footer-nav > div > ul li:hover {
  opacity: 0.5;
}
footer .footer-copyright {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  margin-top: 1rem;
}
@media (max-width: 53rem) {
  footer .footer-subscribe {
    max-width: 100%;
  }
}

input,
a,
button,
li {
  all: unset;
  font: inherit;
}

a,
button {
  cursor: pointer;
}
